<%= form_for(@lista_de_actividade) do |f| %>
  <% if @lista_de_actividade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lista_de_actividade.errors.count, "error") %> prohibited this lista_de_actividade from being saved:</h2>

      <ul>
      <% @lista_de_actividade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
